        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>All categories <small>basic</small></h2>

                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    <table class="table">
                      <thead>
                        <tr>
                          <th>ID</th>
                          <th>Name Category</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                      <% @categories.each do |category| %>
                        <tr>
                          <th scope="row"><%= category.id %></th>
                          <td><%= category.name %></td>
                          <td><%= link_to "edit", edit_admin_category_path(category),
                            method: :get, class: 'btn btn-default' %></td>
                          <td><%= link_to "delete", admin_category_path(category),
                           method: :delete, class: 'btn btn-danger',
                            data: { confirm: "You sure?" } %></td>
                        </tr>

                      <% end %>
                    </tbody>
                    </table>
                  </div>
                </div>
                  <%= will_paginate @categories %>
              </div>
        </div>

